<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures</title>
</head>

<body>
    <h1>Pustaka Gambar</h1>
    <ul>
        <h3>
            id: <%= picture.id %> <br>
                title : <%= picture.title %> <br>
                    description : <%= picture.description %>
        </h3>
        <img src="<%= picture.image_url %>" alt="<%= picture.title %>">
    </ul>
</body>

</html>